main {
  max-width: 390px;
  margin: 0 auto;
  background: white;
}

@media screen and (width>800px) {
  .kontaktgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .kontaktmargin {
    margin: 1rem 4rem;
  }
  main {
    max-width: 1100px;
    margin: 0 auto;
  }
}
